.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;
  flex-direction: column; /* Меняем направление на колонку */
  align-items: center; /* Центрируем содержимое по горизонтали */
  height: auto; /* Высота по содержимому */
  padding: 20px;
  gap: 20px; /* Промежуток между элементами */
}

.add-graph-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; /* Отступ сверху */
  width: auto; /* Ширина по содержимому */
  margin-right: 15px;
}

.graph-creator .chart-area {
  position: relative; /* Needed to establish a new stacking context */
}

.graph-creator button {
  position: relative; /* Needed to make z-index effective */
  z-index: 10; /* Higher z-index to bring the button to the front */
}

.graph-creator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px; /* Отступ снизу до следующего graph-creator или кнопки */
  width: 100%; /* Ширина на всю доступную область */
}

.graph-creator button {
  margin-top: 10px;
}

.sidebar {
  width: 50%; /* Ширина боковой панели составляет 50% от ширины экрана */
  height: 50vh; /* Высота боковой панели равна высоте видимой части экрана */
  overflow-y: auto; /* Добавляем вертикальный скролл при необходимости */
  background-color: #f7f7f7;
  padding: 1rem;
  box-sizing: border-box; /* Включаем паддинги в общий размер, чтобы избежать проблем с размерами */
}

/* Убедимся, что весь контент внутри sidebar также будет адекватно отображаться */
.sidebar > div {
  max-height: 100%; /* Ограничиваем максимальную высоту каждого div внутри sidebar */
}

.chart-container {
  flex: 2; /* График занимает больше места, чем боковая панель */
  padding: 20px;
  width: 100%; /* Ширина на всю доступную область */
  height: 50vh;
}

.chart-area {
  width: 120%; /* Ширина графика, можно задать в процентах от оставшегося пространства */
  height: 100%; /* Высота графика */
}